<% provide(:page_title, "About Me") %> 


<div class="row col-md-offset-2">
	<h3>Who Am I?</h3>
	<div class="col-md-4"><%= image_tag src="/assets/ruby_on_rails.png" %></div>
	<div class="col-md-8">
		<p>I'm Modi Ranga Nayakulu, Software Professional based in Hyderabad, India. Working in Ruby on Rails Development, Software Testing(Product Based) and R &amp; D Engineer.</p>
		<p>My job is to build website(s) so that it is functional and user-friendly but at the same time attractive. Moreover, I add personal touch to product and make sure that is eye-catching and easy to use. </p>
		<p>In my free time, I enjoy Being Outdoor, PC Gaming, Experincing new, Visiting Historical Places.</p>
	</div>
</div>	

