<% provide(:page_title, "Contact Me") %>
<div class="col-md-9">
	<div class="row">
		<div class="col-md-5">
			<h3>Get in touch through</h3>
		</div>
		<div class="col-md-4" id="contact">
			<h3>Linkedin <br> Twitter <br> Facebook <br> </h3>
		</div>
	</div>
</div>


