<% provide(:page_title, "Education") %>
<style type="text/css">
	div#degree, div#inter, div#ssc {
		padding-left: 30px;
	}
	u {
		color: green;
	}
</style>
<div class="container col-md-offset-3">
	<div class="row">
		<div class="col-md-12">
			<h3><u>Bachalor's Degree</u></h3>
		</div>
		
		<div class="row" id="degree">
			<div class="col-md-3">
				<p>College/University:</p>
				<p>Specialization:</p>
				<p>Percentage:</p>			
			</div>
			<div class="col-md-6">
				<p>QIS College of Engineering &amp; Technology, Ongole.</p>	
				<p>B.Tech (Computer Science &amp; Engineering)</p>
				<p>71.29%</p>
			</div>
		</div>
		<div class="col-md-12">
			<h3><u>Intermediate(+2)</u></h3>
		</div>

		<div class="row" id="inter">
			<div class="col-md-3">
				<p>College/University:</p>
				<p>Specialization:</p>
				<p>Percentage:</p>	
			</div>
			<div class="col-md-6">
				<p>Narayana Junior College, Kurnool.</p>
				<p>Maths, Physics and Chemistry</p>
				<p>83.4%</p>	
			</div>
		</div>
		
			
		<div class="col-md-12">
			<h3><u>SSC(10)</u></h3>
		</div>
		
		<div class="row" id="ssc">
			<div class="col-md-3">
				<p>College/University:</p>
				<p>Percentage:</p>	
			</div>
			<div class="col-md-6">
				<p>The Giddalur Public School, Giddalur.</p>
				<p>68.66%</p>	
			</div>
		</div>
	</div>
</div>