<% provide(:page_title, "Work") %>


<div class="row col-md-offset-2">
	<div class="col-md-12">
		<h3>RoR Developer - Xportsoft Technologies Pvt. Ltd.</h3>
		
		<div class="col-md-4"><%= image_tag src="/assets/ruby_on_rails.png" %></div>
		<div class="col-md-8">
			<p>Xportsoft Technologies Pvt. Ltd. is a product based company headquatered at Haryana,India. XPS maily focus on Windows based applications.</p>
			<p>Major Windows based application are: <b>PC Optimizer Pro</b>, <b>Bitsy.in</b>, <b>MAC Optimizer Pro</b>, <b>Monitor Smart</b> and so on.</p>
			<p><b>Responsibilites: </b> Ruby on Rails Development, Software Testing and R&amp;D.</p>
		</div>

	</div>
	<div class="col-md-12">
		<h3>Associate Engineer - Xportsoft Technologies Pvt. Ltd.</h3>
		
		<div class="col-md-4"><%= image_tag src="/assets/ruby_on_rails.png" %></div>
		<div class="col-md-8">
			<p>Xportsoft Technologies Pvt. Ltd. is a product based company headquatered at Haryana,India. XPS maily focus on Windows based applications.</p>
			<p>Major Windows based application are: <b>PC Optimizer Pro</b>, <b>Bitsy.in</b>, <b>MAC Optimizer Pro</b>, <b>Monitor Smart</b> and so on.</p>
			<p><b>Responsibilites: </b> Software Testing, Mobile Applications and Games Testing and R&amp;D.</p>
		</div>
	</div>	

</div>	

