<div class="container">
	<img class="me" src="https://gravatar.com/avatar" alt="" />
	
	<div class="personal">
		<h3>I'm <span>Modi Ranga Nayakulu</span></h3>
		<p>Ruby on Rails Developer</p>	
	</div>
	

	<div class="social">
		<a href="https://github.com/ranganayakulu" target="_blank"><i class="fa fa-github" id="github"></i></a>
		<a href="http://stackoverflow.com/users/3848768" target="_blank"><i class="fa fa-stack-overflow" id="stack"></i></a>	
		<a href="https://in.linkedin.com/in/ranganayakulumodi" target="_blank"><i id="linkedin" class="fa fa-linkedin-square"></i></a>
		<a href="mailto:rnmodi562@gmail.com" target="_top"><i class="fa fa-envelope" id="mail"></i></a>
		<a href="https://www.facebook.com/rnmodi562" target="_blank"><i class="fa fa-facebook-official" id="facebook"></i></a>
		<a href="https://twitter.com/RangaNayakulu_M" target="_blank"><i class="fa fa-twitter" id="twitter"></i></a>
	</div>
	<hr>
</div>